.git
.gitignore
.vs
.vscode
artifacts
tmp

**/bin
**/obj
**/Debug
**/Release
**/TestResults
**/.user
**/*.user
**/*.suo
**/*.rsuser

.env
.env.*
*.env

*.log
*.tmp
*.pid
*.pdb
*.trx
*.binlog

Dockerfile*
compose*.yml
docker-compose*.yml

**/*.db-shm
**/*.db-wal
**/*.db-journal
