CREDO_HOST_PORT=8080
ASPNETCORE_HTTP_PORTS=8080
ASPNETCORE_ENVIRONMENT=Production
CREDO_DB_CONNECTION=DataSource=/app/Data/app.db;Cache=Shared
LOGGING__LOGLEVEL__DEFAULT=Information
LOGGING__LOGLEVEL__MICROSOFT_ASPNETCORE=Warning
